/*////////////////// CSS RESET //////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////////// END OF CSS RESET //////////////////*/


/*////////////////// BASE STYLES //////////////////*/

body {
    font-family: sans-serif;  
}

/*////////////////// LAYOUT: MOBILE FIRST //////////////////*/ 

.mainContainer {
    background-color: #DB8523;
    border-radius: 6px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    opacity: .95;
}

h1 {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'ABeeZee', sans-serif;
}

p {
    margin-top: 1rem;
    text-align: center;
}

.yellowVanPic {
    align-self: center; 
    margin-top: 2rem;
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;

}

form, ul {
    margin-top: 2rem;
}

.listItemContainer {
    /* border: 4px solid white; */
    border-radius: 5px;
    background-color: white;
    margin: .2rem 2rem;
}

li {
    padding: 10px 5px;
    overflow: hidden;
    color: black;
}

h1, form, ul {
    text-align: center;
}

input[type="submit" i] {
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 6px 8px;
    font-weight: bold;
}

input[type="text" i] {
    border-radius: 6px;
    padding: 6px 8px;
}

/*////////////////// MEDIA QUERIES ////////////////// */

/* When the browser is at least 425px and above */
@media screen and (min-width: 426px) {
  body {
    background-image: url(yellow-van-mirror.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .mainContainer {
      margin-left: 10rem;
  }

  p {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }

  .yellowVanPic {
      display: none;
  }
}